{
  "network": "mainnet-beta",
  "rpc": [
    "https://api.mainnet-beta.solana.com"
  ],
  "tradingStrategy": "arbitrage",
  "tokenA": {
    "address": "So11111111111111111111111111111111111111112",
    "symbol": "SOL",
    "name": "Wrapped SOL",
    "decimals": 9,
    "logoURI": "https://raw.githubusercontent.com/solana-labs/token-list/main/assets/mainnet/So11111111111111111111111111111111111111112/logo.png"
  },
  "tokenB": {
    "address": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
    "symbol": "USDC",
    "name": "USD Coin",
    "decimals": 6,
    "logoURI": "https://raw.githubusercontent.com/solana-labs/token-list/main/assets/mainnet/EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v/logo.png"
  },
  "slippage": 100,
  "adaptiveSlippage": 0,
  "priority": 100,
  "minPercProfit": 0.5,
  "minInterval": 100,
  "maxRetryAttempts": 3,
  "retryDelay": 5000,
  "tradeSize": {
    "value": 1,
    "strategy": "fixed"
  },
  "ui": {
    "defaultColor": "cyan"
  },
  "storeFailedTxInHistory": true,
  "tradingEnabled": true,
  "wrapUnwrapSOL": true,
  "autoRetryFailed": true
} 